body {
    font-family: Gilroy, sans-serif;
    background-color: #243642;
    position: absolute;
    z-index: -50;
}

:root {
    --root-padding: p-4;
    
}
*{
    box-sizing: border-box
}

@tailwind base;
@tailwind components;
@tailwind utilities;